.section1{
    width:100%;
    height:70px;
    background:lightgrey;

}

.section2{
    width:100%;
    height:540px;
    background:azure;
}

.section3{
    width:100%;
    height:20px;
    background:grey
}
